.logo {
    position: relative;
    width: 1.4rem;
    height: 1.8rem;
}
.small_icons {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
}

@media screen and (max-width: 1023px) {
    
}
  
@media screen and (max-width: 650px) {
    .devices_container {
        display: none;
    }
}
  
  @media screen and (max-width: 485px) {
    html, body, :root {
      font-size: calc(100vw / 485 * 10);
    }
  }