.hero_section {
    position: relative;
    height: calc(100vh - 6rem);
    -ms-overflow-style: none;
	scrollbar-width: none;
}
.hero_section::-webkit-scrollbar {
    display: none;
}
.hero_video_bg {
    display: block;
}
.hero_video_sm {
    display: none;
}


@media screen and (max-width: 650px) {
    .hero_video_bg {
      display: none;
    }
    .hero_video_sm {
        display: block;
    }
}