.hero_section {
    position: relative;
    height: calc(100vh - 6rem);
    -ms-overflow-style: none;
	scrollbar-width: none;
}
.hero_section::-webkit-scrollbar {
    display: none;
}
.hero_video_bg {
    display: block;
}
.hero_video_sm {
    display: none;
}


@media screen and (max-width: 650px) {
    .hero_video_bg {
      display: none;
    }
    .hero_video_sm {
        display: block;
        width: 100%;
        height: 90%;
    }
    .cta_btn {
        height: 4.5rem!important;
        width: 12rem!important;
        font-size: 1.4rem!important;
        line-height: 1.6rem!important;
    }
    .text {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}